{% extends "base.html" %}
{% block title %}Balances{% endblock %}
{% block content %}
{{ nav_bar|safe }}
<div class="flex flex-col items-center px-6 py-8 mx-auto lg:py-5 text-gray-900 dark:text-white">
  <div class="relative overflow-x-auto">
    <div class="flex justify-between flex-wrap items-end">
      <h1 class="text-xl font-bold">Account Balances</h1>
    </div>
    <div class="dark:bg-gray-800">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Account
            </th>
            <th scope="col" class="px-6 py-3 text-right">
              Balance
            </th>
            <th scope="col" class="px-6 py-3">
              Date
            </th>
          </tr>
        </thead>
        <tbody>
          {% for balance in balances %}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{ balance.account }}
            </th>
            <td class="px-6 py-4 text-right">
              ${{ "{:.0}"|format(balance.balance) }}
            </td>
            <td class="px-6 py-4">
              {{ balance.date }}
            </td>
          </tr>
          {% endfor %}

          {% if balances.is_empty() %}
          <tr>
            <td colspan="3" class="px-6 py-4 text-center text-gray-500 dark:text-gray-400">
              No account balances found. <a href="{{ import_page_link }}" class="text-blue-600 hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400 underline">Import from CSV files</a> to add balances.
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
