{% extends "base.html" %} {% block title %}Balances{% endblock %}
{% block content %}
{{ nav_bar|safe }}
<div class="flex flex-col items-center px-6 py-8 mx-auto lg:py-0 text-gray-900 dark:text-white">
  <div>
    <table>
      <thead>
        <tr>
          <th scope="col">Account</th>
          <th scope="col">Balance</th>
        </tr>
      </thead>
      <tbody>
        {% for balance in balances %}
        <tr>
          <th scope="row">{{ balance.account }}</th>
          <td>${{ balance.balance }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
