{% extends "base.html" %}
{% block title %}Create Category{% endblock %}
{% block content %}
{{ nav_bar|safe }}
<div class="flex flex-col items-center px-6 py-8 mx-auto md:h-screen lg:py-0 text-gray-900 dark:text-white">
  <div class="relative overflow-x-auto">
    {# TODO: Style the form. #}
    <form hx-post="{{ category_route }}">
      <div>
        <label for="name">Category Name</label>
        <input id="name" type="text" name="name" placeholder="Category Name" />
      </div>

      <button type="submit">Create Category</button>
    </form>
  </div>
</div>
{% endblock %}
