{% extends "base.html" %}
{% block title %}Create Transaction{% endblock %}
{% block content %}
{{ nav_bar|safe }}
<div class="flex flex-col items-center px-6 py-8 mx-auto md:h-screen lg:py-0 text-gray-900 dark:text-white" />
<div class="relative overflow-x-auto">
  <form hx-post="{{ create_transaction_route }}" class="space-y-4 md:space-y-6">
    <div>
      {# TODO: Limit to non-negative values with a step of 0.01 #}
      <label for="amount" class="{% include "styles/forms/label.html" %}">Amount</label>
      <input name="amount" id="amount" type="number" placeholder="$0.00" class="{% include "styles/forms/input.html" %}"/>
    </div>

    <div
      {# TODO: Limit to current date #}
      <label for="date" class="{% include "styles/forms/label.html" %}">Date</label>
      <input name="date" id="date" type="date" class="{% include "styles/forms/input.html" %}" />
    </div>

    <div>
      <label for="description" class="{% include "styles/forms/label.html" %}">Description</label>
      <input name="description" id="description" type="text" placeholder="Description" class="{% include "styles/forms/input.html" %}" />
    </div>

    <div>
      <label for="category" class="{% include "styles/forms/label.html" %}">Category</label>
      <select name="category" id="category" class="{% include "styles/forms/input.html" %}">
        {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" id="submit-button" tabindex="0" class="{% include "styles/forms/button.html" %}" >
      <span id="indicator" class="inline htmx-indicator">
        {% include "components/spinner.html" %}
      </span>
      Create Transaction
    </button>
  </form>
</div>
</div>
{% endblock %}
