<tr class="bg-white dark:bg-gray-800">
  <th
    scope="row"
    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
  >
    {{ transaction.id() }}
  </th>
  <td class="px-6 py-4">${{ "{:.0}"|format(transaction.amount()) }}</td>
  <td class="px-6 py-4">{{ transaction.date() }}</td>
  <td class="px-6 py-4">{{ transaction.description() }}</td>
  <td class="px-6 py-4">
    {% if let Some(category_id) = transaction.category_id() %} {{ category_id }}
    {% else %} - {% endif %}
  </td>
</tr>
