<form hx-post="{{ import_route }}" enctype="multipart/form-data"
  hx-disabled-elt="#files, #submit-button" hx-indicator="#indicator"
  hx-swap="none" hx-target-error="#alert-container" class="space-y-4 md:space-y-6">
  <div>
    <label for="files" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Choose file(s) to upload</label>

    <input id="files" type="file" name="files" accept="text/csv" placeholder="files" multiple required
      class="block w-full p-2.5 rounded text-sm text-gray-900 dark:text-white
disabled:text-gray-500 bg-gray-50 dark:bg-gray-700 border border-gray-300
dark:border-gray-600 dark:placeholder-gray-400 focus:ring-blue-600
focus:border-blue-600 focus:dark:border-blue-500 focus:dark:ring-blue-500"/>

    <p>
      Export and upload your bank statements in CSV format to automatically import your transactions.
    </p>
  </div>


  <button type="submit" id="submit-button"
    class="px-4 py-2 bg-blue-500 dark:bg-blue-600 disabled:bg-blue-700
hover:enabled:bg-blue-600 hover:enabled:dark:bg-blue-700 text-white rounded"
  >
    <span class="inline htmx-indicator" id="indicator">
      {% include"components/spinner.html" %}
    </span>
    Upload Files
  </button>
</form>
