<form hx-post="{{ import_route }}" enctype="multipart/form-data" class="space-y-4 md:space-y-6">
  <div>
    <label for="files" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Choose file(s) to upload</label>

    <input id="files" type="file" name="files" accept="text/csv" placeholder="files" multiple required
      class=" block w-full p-2.5 rounded-lg text-sm text-gray-900 dark:text-white
disabled:text-gray-500 bg-gray-50 dark:bg-gray-700 border border-gray-300
dark:border-gray-600 dark:placeholder-gray-400 focus:ring-blue-600
focus:border-blue-600 focus:dark:border-blue-500 focus:dark:ring-blue-500"/>

    <p>
      Export and upload your bank statements in CSV format to automatically import your transactions.
    </p>
  </div>

  {% if !error_message.is_empty() %}
  <p>
    {{ error_message }}
  </p>
  {% endif %}

  <button type="submit"
    class=" w-full px-5 py-2.5 rounded-lg text-sm text-center text-white font-medium
      disabled:text-gray-300 bg-blue-500 dark:bg-blue-600 disabled:bg-blue-700
      hover:enabled:bg-blue-600 hover:enabled:dark:bg-blue-700 border dark:border-none
      border-gray-300 focus:ring-4 focus:outline-none focus:ring-primary-300
      focus:dark:ring-primary-800"
  >
    Upload Files
  </button>
  <progress id='progress' value='0' max='100'></progress>
  <script>
    htmx.on('#form', 'htmx:xhr:progress', function(evt) {
      htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
    });
  </script>
</form>
