<form
    class="space-y-4 md:space-y-6"
    hx-post="{{ create_user_route }}"
    hx-indicator="#indicator"
    hx-disabled-elt="#email, #password, #confirm-password, #submit-button"
>
    {{ email_input|safe }} {{ password_input|safe }} {{
    confirm_password_input|safe }}
    <button
        type="submit"
        class="{% include "styles/forms/button.html" %}"
        id="submit-button"
    >
        <span id="indicator" class="inline htmx-indicator">
            {% include "components/spinner.html" %}
        </span>
        Create account
    </button>
    <p class="text-sm font-light {% include "styles/text/plain.html" %}">
        Already have an account?
        <a
            href="{{ log_in_route }}"
            class="font-semibold leading-6 text-blue-600 hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400"
        >
            Log in here
        </a>
    </p>
</form>
