<div>
    <label
        for="confirm-password"
        class="{% include"styles/forms/label.html" %}"
        >Confirm password</label
    >
    <input
        type="password"
        name="confirm_password"
        id="confirm-password"
        placeholder="••••••••"
        class="{% include"styles/forms/input.html" %}"
        required=""
        {%if
        !error_message.is_empty()%}autofocus{%endif%}
    />

    {% if !error_message.is_empty() %}
    <p class="text-red-500 text-base">{{ error_message }}</p>
    {% endif %}
</div>
