<div hx-target="this" hx-swap="outerHTML">
    <label
        for="email"
        class="{% include "styles/forms/label.html" %}"
    >
        Your email
    </label>
    <input
        type="email"
        name="email"
        id="email"
        class="{% include "styles/forms/input.html" %}"
        placeholder="name@company.com"
        required=""
        value="{{ value }}"
        {%if
        !error_message.is_empty()%}autofocus{%endif%}
    />

    {% if !error_message.is_empty() %}
    <p class="text-red-500">{{ error_message }}</p>
    {% endif %}
</div>
