<div>
    <label
        for="password"
        class="{% include "styles/forms/label.html" %}"
        >Password</label
    >
    <input
        type="password"
        name="password"
        id="password"
        placeholder="••••••••"
        class="{% include "styles/forms/input.html" %}"
        required=""
        value="{{ value }}"
        minlength="{{ min_length }}"
        {%if
        !error_message.is_empty()%}autofocus{%endif%}
    />

    {% if !error_message.is_empty() %}
    <div class="text-red-500">{{ error_message }}</div>
    {% endif %}
</div>
