<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %} - Budgeteur</title>
        <link rel="icon" type="image/x-icon" href="/static/seal.png"/>
        <link href="/static/main.css" rel="stylesheet" />

        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        <style>
            #indicator.htmx-indicator {
                display: none;
            }

            #indicator.htmx-request .htmx-indicator {
                display: inline;
            }

            #indicator.htmx-request.htmx-indicator {
                display: inline;
            }
        </style>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div class="container max-w-full bg-gray-50 dark:bg-gray-900">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
