{% extends "base.html" %}
{% block title %}Edit Account #{{ account.id }}{% endblock %}
{% block scripts %}
<style>
  .input-wrapper {
      position: relative;
      display: inline-block;
  }
  .input-wrapper input[type="number"] {
      padding-left: 1.4rem;
  }
  .input-wrapper::before {
      content: '$';
      position: absolute;
      left: 0.6rem;
      top: 50%;
      transform: translateY(-52%);
      pointer-events: none;
  }
</style>
{% endblock %}
{% block content %}
{{ nav_bar|safe }}
<div class="flex flex-col items-center px-6 py-8 mx-auto lg:py-0 text-gray-900 dark:text-white">
  <div class="relative overflow-x-auto">
    <form hx-put="{{ edit_url }}" hx-target-error="#alert-container" class="space-y-4 md:space-y-6">
      <h2 class="text-xl font-bold">Edit Account</h2>

      <div>
        <label for="name" class="{% include "styles/forms/label.html" %}">Name</label>
        <input name="name" id="name" type="text" placeholder="{{ account.account}}" value="{{ account.account }}" class="{% include "styles/forms/input.html" %}" />
      </div>

      <div>
        <label for="balance" class="{% include "styles/forms/label.html" %}">Balance</label>
        <!-- w-full needed to ensure input takes the full width when prefilled with a value -->
        <div class="input-wrapper w-full">
          {% let balance = account.balance | fmt("{:.2}") %}
          <input name="balance" id="balance" type="number" step="0.01" placeholder="{{ balance }}" value="{{ balance }}" required class="{% include "styles/forms/input.html" %}" />
        </div>
      </div>

      <div>
        <label for="date" class="{% include "styles/forms/label.html" %}">Date</label>
        <input name="date" id="date" type="date" max="{{ max_date }}" value="{{ account.date }}" required class="{% include "styles/forms/input.html" %}" />
      </div>

      <button
        onclick="history.back()"
        type="button"
        class="w-full py-2.5 px-5 mb-2 text-sm font-medium text-gray-900
          focus:outline-none bg-white rounded-lg border border-gray-200
          hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4
          focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800
          dark:text-gray-400 dark:border-gray-600 dark:hover:text-white
          dark:hover:bg-gray-700"
      >
        Cancel
      </button>

      <button type="submit" id="submit-button" tabindex="0" class="{% include "styles/forms/button.html" %}" >
        <span id="indicator" class="inline htmx-indicator">
          {% include "components/spinner.html" %}
        </span>
        Edit Account
      </button>
    </form>
  </div>
</div>
{% endblock %}
