name: Build & Test

on:
  push:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install Rust Toolchain
        run: |
          rustup toolchain install 1.93 && \
          rustup override set 1.93 && \
          rustup component add clippy && \
          rustup component add rustfmt

      - name: Test
        run: cargo test --verbose

      - name: Lint
        run: cargo clippy --all --tests -- -D warnings

      - name: Check formatting
        run: cargo fmt --check
